<%- include('partials/header.ejs') -%>
<body>
    <section style="margin-top: 150px;"></section>

    <div style=" height: 150px;">
    <div>
        <div style="margin-left: 460px;">
            <img src="https://ucraftmarket.com/images/general/emptycart.jpg" alt="">
        </div>
        <h3 style="text-align: center;">Your cart is empty</h3>
        <p style="text-align: center;">
        </p>
        <a href="/" class="btn btn-warning" style="margin-left: 640px;">Shope now</a>
    </div>
    </div>
</section>

</body>
  