<%- include('partials/header.ejs') -%>

<body>
    <section style="margin-top: 150px;"></section>

    <div style=" height: 150px;">
    <div>
        <div style="margin-left: 460px;">
            <img src="https://ucraftmarket.com/images/general/emptycart.jpg" alt="">
        </div>
        <h3 style="text-align: center;">missing Cart items?</h3>
        <p style="text-align: center;">Login to see the items you added previously
        </p>
        <a href="/login" class="btn btn-warning" style="margin-left: 640px;">Login</a>
    </div>
    </div>
</section>
<% include('partials/footer.ejs') -%>
</body>
  

