<link rel="stylesheet" href="@sweetalert2/themes/dark/dark.css">
<script src="sweetalert2/dist/sweetalert2.min.js"></script>
<script src="//cdn.jsdelivr.net/npm/sweetalert2@11"></script>




<nav class="navbar navbar-expand bg-light navbar-light sticky-top px-4 py-0" style="display: flex; justify-content: space-between;">
    <div>
       
        <form class="d-none d-md-flex ms-4">
            <input class="form-control border-0" type="search" placeholder="Search">
        </form>

    </div>

    <div>
        <a href="/admin/adminlogout" class="btn btn-primary" >Logout</a>
    </div>
   
   
        
    
 
</nav>